@model HR.Contracts.WebUI.Models.ContractModel

<tr>
    <td>@Html.DisplayFor(model => model.Name)</td>
    <td>@Html.DisplayFor(model => model.Type)</td>
    <td>@Html.DisplayFor(model => model.Experience)</td>
    <td>@Html.DisplayFor(model => model.Salary)</td>
</tr>  

